@using RepositorioHospital.Models
@model List <Departamento>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Departamento codigo</th>
        <th>Departamento nombre</th>
        <th>Departamento localidad</th>
    </tr>
    
    @foreach (Departamento d in Model)
    {
    <tr>
        <td>@d.DepartamentoCodigo</td>
        <td>@d.DepartamentoLocalidad</td>
        <td>@d.DepartamentoNombre</td>
    </tr>
    }
</table>