@using RepositoriosHospital.Models
@model List <Departamento>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <td></td>
    </tr>
    @foreach(){
    
    }
</table>