
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" class="form-inline">
    <label>USUARIO</label>
    <input type="text" name="usuario" />
    <br />
    <label>CONTRASEÑA</label>
    <input type="password" name="password" />
    <br />
    <button type="submit">INICIAR</button>
</form>

<h1>@ViewBag.Mensaje</h1>