@model ProyectoMVCReal.Models.Departamento
@{
    ViewBag.Title = "BuscarDepartamento";
}

<h2>BuscarDepartamento</h2>

<form method="post">
    <label for="depno">Introducir El numero departamento</label>
    <input type="number" name="deptno" />
    <button type="submit" class="btn btn-info">BUSCAR</button>
</form>

@if (Model != null)
{
    <h1>@Model.Numero</h1>
    <h1>@Model.Nombre</h1>
    <h1>@Model.Localidad</h1>
}