@model PracticasMVC.Models.Doble
@{
    ViewBag.Title = "DobleRandomView";
}

<h2>DobleRandomView</h2>

<form method="post">
    <label for="num"></label>
    <input type="number" value="@ViewBag.Rand" name="n" readonly />
    <button type="submit">CALCULA DOBLE</button>
</form>

@ViewBag.Mensaje

@if (Model != null)
{
    <h1>El RESULTADO ES: @Model.Calcula()</h1>
}