
@{
    ViewBag.Title = "VideosYoutubeView";
}

<h2>VideosYoutubeView</h2>

<form method="post">
    <input type="text" name="cad" />
    <button type="submit">PULSAR</button>
</form>

@ViewBag.res
<br />
@Html.Raw(ViewBag.res)

