
@{
    ViewBag.Title = "HoraSistema";
}

<h2>Ejemplo de Caching</h2>
<ul>
    <li>@Html.ActionLink("Parametro1", "HoraSistema", "Caching", new { dato = 1 }, null)</li>

    <li>@Html.ActionLink("Parametro2", "HoraSistema", "Caching", new { dato = 2 }, null)</li>
</ul>
<h2>@ViewBag.Hora</h2>