@using ConceptosMVC.Models
@model List<Departamento>
@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<h2>@ViewBag.Deptno</h2>


@using (Html.BeginForm())
{
    <label>Selecciona un departamento para modificar</label>

    List<SelectListItem> listItems = new List<SelectListItem>();

    foreach (Departamento d in Model)
    {
        listItems.Add(new SelectListItem
        {
            Text = d.Nombre,
            Value = (d.Numero.ToString())
        });
    }
    @Html.DropDownList("departamento", new SelectList(listItems, "Value", "Text"))
    <button type="submit">Buscar</button>
}
<h1>@ViewBag.Mensaje</h1>